.header {
  padding-block: 20px;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation__list {
  display: flex;
  gap: 40px;
}

.navigation__link,
.menu-link,
.button-link {
  font-weight: var(--font-weight-semibold);
}

.header__actions {
  display: flex;
  align-items: center;
  gap: 24px;
}

.menu-link,
.theme-toggle {
  display: flex;
  align-items: center;
  gap: 8px;
}

.theme-toggle {
  box-sizing: border-box;
  background: transparent;
  border-radius: 100px;
  padding: 3px;
  border: 1px solid var(--color-border-primary);
}

.icon {
  display: block;
  width: 22px;
  height: 22px;
}

.theme-toggle__icon {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.theme-toggle__icon--sun {
  background: var(--color-text-accent);
  color: var(--color-text-inverse);
}

.theme-toggle__icon--moon {
  background: transparent;
  color: var(--color-text-primary);
}

.hero__inner {
  border-radius: 40px;
  background: url("../assets/images/hero.jpg") center / cover no-repeat;
  min-height: 644px;
  padding: 100px clamp(60px, 8%, 100px);
}

.hero__content {
  max-width: 530px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.hero__title {
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-h1);
  color: var(--color-text-inverse);
}

.accent {
  color: var(--color-text-accent);
  font-style: italic;
}

.hero__text {
  color: var(--color-text-inverse);
}

.button-link {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  min-width: 200px;
  padding: 20px 24px;
  background: var(--color-bg-page);
  border-radius: 100px;
}

.favorites__title,
.about__title,
.mobile-app__title {
  text-align: center;
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-h2);
  line-height: var(--line-height-h2);
  margin-bottom: 40px;
}

.favorites__card-title,
.favorites__price {
  text-align: center;
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
}

.favorites__slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.favorites__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  max-width: 480px;
}

.favorites__text {
  text-align: center;
}

.favorites__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  aspect-ratio: 1/1;
  background: transparent;
  border-radius: 50%;
  border: 1px solid var(--color-bg-container);
  color: var(--color-text-primary);
}

.favorites__button .icon {
  width: 14px;
  height: 14px;
}

.favorites__pagination {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.favorites__indicator {
  width: 40px;
  height: 4px;
  background-color: var(--color-border-primary);
  border-radius: 100px;
  margin-top: 40px;
}

.favorites__indicator--active {
  background-color: var(--color-bg-container);
}

.about__title {
  text-align: left;
}

.about__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(440px, auto));
  grid-template-rows: 430px 120px 430px;
  grid-auto-rows: 430px 120px;
  justify-content: center;
  gap: 40px;
}

.about__box {
  max-width: 660px;
  border-radius: 20px;
  overflow: hidden;
}

.about__box:nth-child(1) {
  grid-row: 1/3;
}

.about__box:nth-child(2) {
  grid-row: 3/4;
}

.about__box:nth-child(3) {
  grid-row: span 1;
}

.about__box:nth-child(4) {
  grid-row: span 2;
}

.about__image {
  width: 100%;
  height: 100%;
  object-fit: none;
}

.mobile-app__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.mobile-app__info,
.mobile-app__image {
  flex: 1 1 420px;
  max-width: 630px;
}

.mobile-app__title {
  text-align: start;
}

.mobile-app__actions {
  display: flex;
  gap: 20px;
  margin-top: 40px;
}

.mobile-app__button {
  border: 1px solid var(--color-bg-container);
  gap: 8px;
  padding: 11px 20px;
}

.mobile-app__button-info {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.mobile-app__description {
  font-size: 0.625rem;
  line-height: 140%;
}

.icon-app-store,
.icon-google-play {
  width: 36px;
  height: 36px;
}
